.purchase {
  width: 100%;
  background: #000;
}

.purchase__image {
  width: 100%;
  height: 19.8rem;
}

.purchase__content {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.purchase-title {
  margin-bottom: 2.5rem;
}

.purchase__subtitle {
  margin-bottom: 2rem;
}

.purchase__content-text {
  margin-bottom: 4rem;
}

.purchase__platforms-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 5.6rem;
}

.purchase__platforms-list-item {
  height: 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.purchase__platforms-list-item_pc {
  width: 6.2rem;
  height: 3.5rem;
}

.purchase__platforms-list-item_xbox {
  width: 17.8rem;
  height: 3.5rem;
}

.purchase__platforms-list-item_stadia {
  width: 5.8rem;
  height: 5rem;
}

.purchase__platforms-list-item_playstation {
  width: 16.8rem;
  height: 3.5rem;
}

@media screen and (min-width: 767px){
  .purchase{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .purchase__image{
    height: 100%;
  }

  .purchase__content{
    padding-top: 7rem;
  }
}