.city {
  padding: 14.5rem 0 7rem;
}

.city__content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 7rem;
}

.city__bold-text {
  font-weight: 700;
}

.city__gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 2rem;
}

.city__gallery-item {
  overflow: hidden;
}

.city__gallery-item:last-child {
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 15%);
}

.city__image{
  object-fit: contain;
}

@media screen and (min-width: 767px){
  .city{
    padding: 7rem 0;
  }

  .city__gallery {
    padding: 0 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .city__gallery-item:last-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  .city__image{
    object-fit: fill;
  }
}

@media screen and (min-width: 1025px){
  .city__gallery {
    padding: 0 16.7%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.2rem;
  }

  .city__gallery-item:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  }
}