.game {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0;
  background: #000;
}

.game > .game-top {
  width: 100%;
}

.game > .game-bottom {
  width: 100%;
}

.game > .game-content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5.5rem 1.2rem 7rem;
}

.game > .game-content > .content-gallery {
  width: 100%;
  height: 13.1rem;
  position: relative;
  z-index: 1;
}

.game > .game-content > .content-gallery > .gallery-image {
  width: 100%;
  height: 100%;
}

.game > .game-content > .content-gallery > .gallery-item.gallery-discount {
  width: 6.2rem;
  height: 6.2rem;
  position: absolute;
  top: -4.9rem;
  left: 0;
  z-index: 2;
}

.game > .game-content > .content-gallery > .gallery-item.gallery-discount > .gallery-image {
  width: 100%;
  height: 100%;
}

.game > .game-content > .content-info {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  color: #fff;
}

.game > .game-content > .content-info > .info-title {
  text-align: left;
}

.game > .game-content > .content-info > .info-text {
  line-height: 3.2rem;
}

.game > .game-content > .content-form {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
}

.game > .game-content > .content-form > .form-inputs {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.2rem;
  margin-bottom: 3.5rem;
}

.game > .game-content > .content-form > .form-inputs > .inputs-item {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #777;
  padding: 1.3rem 0;
}

.game > .game-content > .content-form > .form-inputs > .inputs-item::placeholder {
  color: #fff;
}

.game > .game-content > .content-form > .form-file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
  border: 1px dashed #777;
  position: relative;
  margin-bottom: 3.5rem;
}

.game > .game-content > .content-form > .form-file:hover {
  border-color: #fff;
}

.game > .game-content > .content-form > .form-file > .file-text {
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
}

.game > .game-content > .content-form > .form-file > .file-format {
  display: none;
}

.game > .game-content > .content-form > .form-file > .file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.game > .game-content > .content-form > .form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.2rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  color: #000;
  background: #F8F200;
  margin-bottom: 3.4rem;
}

.game > .game-content > .content-form > .form-button:hover,
.game > .game-content > .content-form > .form-button:focus {
  background: #d3cd00;
  box-shadow: 0 0 3px 0 #F8F200;
}

.game > .game-content > .content-form > .form-checkbox{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.game > .game-content > .content-form > .form-checkbox > .checkbox-item{
  width: 1.4rem;
  height: 1.4rem;
  position: relative;
}

.checkbox-input{
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-input:checked{
  opacity: 1;
}

.checkbox-input:checked:before{
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}